<div class="container-fluid">
<div class="row d-flex justify-content-center">
<section class="form-section col-md-4">
<h2>Your Cart</h2>

<div class="shopping-cart">

  <%= render "shopping_cart" %>
</div>
<div class="total-text">
<%= render "totals" %><br /><br />
 </div>
  </section>
</div>
</div>



