
<div class="container-fluid">
<div class="row d-flex justify-content-center">
<section class="form-section">
  <div class="container">
<h2>Lesson Summary</h2>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <%= render "lesson_row", lesson: @lesson, order_item: @order_item %>
   
  </div>

  </div>
  </div>
  </section>
</div>
</div>
