<footer>
<div class="jumbotron main-footer" style="margin-bottom:0">
    <div class="row">
        <div class="col-12 col-md">
        <%= image_tag("cone.svg", :alt => "Open | Road Driving School", size: "24") %>

          <small class="d-block mb-3 text-muted"><br />© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
       
        </div>
        <div class="col-6 col-md">
        </div>
        <div class="col-6 col-md">
          <h5></h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/">Home</a></li>
            <li><a class="text-muted" href="/lessons">Lessons</a></li>
            <li><a class="text-muted" href="/#About">About</a></li>
          </ul>
        </div>
      </div>
</div>
</footer>